TourDuLich_v0.6 Binh/TourDuLich/Service References/TourService1Ref/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1279/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TourService1" />
  <xs:element name="layDSKhachSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diadiem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSKhachSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TourService1" minOccurs="0" name="layDSKhachSanResult" nillable="true" type="q1:ArrayOfKhachSan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSXeKhach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diemxuatphat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemden" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSXeKhachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TourService1" minOccurs="0" name="layDSXeKhachResult" nillable="true" type="q2:ArrayOfXeKhach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSXeLua">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diemxuatphat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemden" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSXeLuaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TourService1" minOccurs="0" name="layDSXeLuaResult" nillable="true" type="q3:ArrayOfXeLua" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSMayBay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diemxuatphat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diemden" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layDSMayBayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TourService1" minOccurs="0" name="layDSMayBayResult" nillable="true" type="q4:ArrayOfMayBay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="y" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tongResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>