TourDuLich_v0.6 Binh/TourDuLich/Service References/TourService1Ref/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1279/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1279/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1279/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TourService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_layDSKhachSan_InputMessage">
    <wsdl:part name="parameters" element="tns:layDSKhachSan" />
  </wsdl:message>
  <wsdl:message name="IService1_layDSKhachSan_OutputMessage">
    <wsdl:part name="parameters" element="tns:layDSKhachSanResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_layDSXeKhach_InputMessage">
    <wsdl:part name="parameters" element="tns:layDSXeKhach" />
  </wsdl:message>
  <wsdl:message name="IService1_layDSXeKhach_OutputMessage">
    <wsdl:part name="parameters" element="tns:layDSXeKhachResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_layDSXeLua_InputMessage">
    <wsdl:part name="parameters" element="tns:layDSXeLua" />
  </wsdl:message>
  <wsdl:message name="IService1_layDSXeLua_OutputMessage">
    <wsdl:part name="parameters" element="tns:layDSXeLuaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_layDSMayBay_InputMessage">
    <wsdl:part name="parameters" element="tns:layDSMayBay" />
  </wsdl:message>
  <wsdl:message name="IService1_layDSMayBay_OutputMessage">
    <wsdl:part name="parameters" element="tns:layDSMayBayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_tong_InputMessage">
    <wsdl:part name="parameters" element="tns:tong" />
  </wsdl:message>
  <wsdl:message name="IService1_tong_OutputMessage">
    <wsdl:part name="parameters" element="tns:tongResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="layDSKhachSan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/layDSKhachSan" message="tns:IService1_layDSKhachSan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/layDSKhachSanResponse" message="tns:IService1_layDSKhachSan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layDSXeKhach">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/layDSXeKhach" message="tns:IService1_layDSXeKhach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/layDSXeKhachResponse" message="tns:IService1_layDSXeKhach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layDSXeLua">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/layDSXeLua" message="tns:IService1_layDSXeLua_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/layDSXeLuaResponse" message="tns:IService1_layDSXeLua_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layDSMayBay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/layDSMayBay" message="tns:IService1_layDSMayBay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/layDSMayBayResponse" message="tns:IService1_layDSMayBay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tong">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/tong" message="tns:IService1_tong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/tongResponse" message="tns:IService1_tong_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>